.categoryList {
    margin-top: 35px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .categoryItem {
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 14px;
  }
  
  .categoryItem.MMA {
    background-color: #57c4ff31;
  }
  
  .categoryItem.school {
    background-color: #da85c731;
  }
  
  .categoryItem.projects {
    background-color: #7fb88133;
  }
  
  .categoryItem.thoughts {
    background-color: #ff795736;
  }
